#banner {
  display: flex;
  align-items: center;
  margin-top: -90px;
  width: 100vw;
  min-height: calc(100vh - 90px);

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#banner h1 {
  margin-bottom: 1rem;
}

.banner-left {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 100%;
  padding: 4rem;
}

.banner-right {
  background-color: transparent;
  // background-image: linear-gradient(rgba(74,74,209,0.2),rgba(74,74,209,0.8)), url(../images/moqu_fullsize.jpg);
  // background-size: cover;
  // background-position: right;
  width: 40%;
  padding: 4rem;
}

.banner-right img {
  width: 100%;
}

#paragraph {
  margin: 0 auto;
  font-weight: 200;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  width: 60%;
}
